<html>
    <head>
        <style>
            body { background-color: cadetblue}        
        </style>
    </head>
    <body>
            <form action="{% url 'home' %}">
                <input type="submit" value="Retornar"/>
            </form>
            <h1>Your text have {{count}} words</h1>
            <p>Your words are:</p>
            <br/>
            <p>{{fulltext}}</p>   
            
            <h1>Word COunt</h1>

            {% for word, counttotal in sortedwords%}

            {{ word }} - {{counttotal}}
                      
            <br/>
            {% endfor %}
    </body>
</html>
